*{
    margin: 0px;
    padding: 0px;
    background-color: #F5F6FA; /*deixa o fundo dá página inteira em cinza*/
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.linha {
    background: #00A2C2; /* cor da linha na parte de baixo */
}

header {
    color: #00A2C2; /* cor das fontes no cabeçalho */
    font-family: "Poppins", sans-serif; /* estilo de fonte do cabeçalho */
}

.cabecalho {
    padding-top: 10px; /* distância do topo da página */
    justify-content: center; /* define que o conteúdo sempre ficará alinhado no centro da tela */
    display: flex; /* define o conteudo em colunas lado a lado */
    align-items: center; /* alinha as colunas verticalmente no centro */
    gap: 200px; /* distância entre as colunas (existem três colunas no cabeçalho, logo, funções e ícones) */
}

.funcoes a {
    color: #00A2C2;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
}

.icones, .icones a {
    cursor: pointer; 
    display: flex; 
    gap: 18px;
    color: #00A2C2;
    text-decoration: none;
}

.funcoes a:hover {
    color: #FB391E; /*colore a função quando passa o mouse em cimaa*/
}

.icones i:hover {
    color: #FB391E; /*colore o icone quando passa o mouse em cimaa*/
}

.info {
    padding: 30px 80px 30px 80px;
}

.info2 {
    align-items: start;
    padding: 60px 10px 10px 80px;
    background-color: white;
    color: #93A2A4;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 220%;
}

fieldset {
    background-color: white;
    box-shadow: 2px 2px 2px #cfcece;
    display: flex;
    align-items: start;
    border: none;
    gap: 70px;

}

.img {
    padding: 100px 40px 150px 40px;
    background-color: white;
}

.msg {
    background-color: white;
    color: #00A2C2;
    font-family: "Poppins";
    font-weight: 600;
}

.msg2 {
    background-color: white;
    color: #FB391E;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.msg3 {
    background-color: white;
    color: #93A2A4;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.senhas {
    background-color: white;
    color: #93A2A4;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: flex;
    gap: 90px;
    margin-left: -3%;
}

input {
    background-color: white;
    border-color: #F0F0F0;
    width: 390px;
    height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: -3%;
}

input[type=checkbox] {
    width: 38px;
    height: 13px;
    cursor: pointer;
    background-color: #FB391E;
}

h4 {
    background-color: white;
    color: #93A2A4;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

h4:hover {
    color: #FB391E;
}

section {
    background-color: white;
}

.botoes {
    display: flex;
    background-color: white;
    gap: 45px;
    margin-left: -3%;
}

.btn-wpp {
    color: white;
    background-color: #00A2C2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    padding: 17px 50px;
    text-decoration: none;
}

.btn-wpp:hover {
    background-color:#FB391E;
}
